[submodule "submodules/MoGe"]
	path = submodules/MoGe
	url = https://github.com/microsoft/MoGe.git
[submodule "submodules/vggt"]
	path = submodules/vggt
	url = https://github.com/facebookresearch/vggt.git
